

.ulPic{
    height: 80px;
}

.footer {
    text-align: center;
    background: whitesmoke;
    margin-top: 30px;
    margin-bottom: 5px;
}


.sticky{
position: sticky;
top: 0;
}


.losprodu{
    width: 100%;
}


footer {
        background-color: #333333;
        text-align: center;
        width: 100%;
        margin-top: 40px;
        padding: 20px;
        color: #f5f5f5; 
    }
    
    .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    footer a {
        color: white;
        text-decoration: none;
    }


    